@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">  Welcome to Burgerland  </h1>
    <img src="@Url.Content("https://cdn-t-3.bvkstatic.com/us/static/images/games/happy-burger.png")" width="300" height="300" style="border-radius: 10px" alt="Image" />
</div>
